@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family:"Caveat-Medium";
 src: url("/fonts/static/Caveat-Medium.ttf") format("truetype");
 font-weight: normal;
 font-style: normal;
}

body{
  width: 100%;
  min-height: 100vh;
  /* background-color: yellow; */
  padding: 0;
  margin: 0
}

.caveat{
  font-family: 'Caveat-Medium';
}

.navbar{
  width: 100%;
  height: 50px;
  background-color: red;
}
